* {
  box-sizing: border-box;
}

body, html {
  padding: 0;
  margin: 0;
  background-color: #ffffff !important;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  overflow-x: hidden;
  color: #37352f;
}

/* HIDE WEBSITE UI */
.notion-header,
.notion-topbar, 
.notion-nav-header,
.notion-header-right,
.notion-search-icon,
footer { 
  display: none !important; 
}

/* RESET LAYOUT */
.notion-frame {
  padding: 0 !important;
  width: 100% !important;
  max-width: 100% !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important; 
}

/* COLORS */
:root {
  --bg-color: #ffffff !important;
  --bg-color-0: #ffffff !important;
  --bg-color-1: #f7f6f3 !important;
  --fg-color: #37352f !important;
  --fg-color-0: #37352f !important;
  --fg-color-icon: #37352f !important;
  
  --notion-red: #e03e3e !important;
  --notion-pink: #ad1a72 !important;
  --notion-blue: #0b6e99 !important;
  --notion-purple: #6940a5 !important;
  --notion-teal: #4d6461 !important;
  --notion-yellow: #dfab01 !important;
  --notion-orange: #d9730d !important;
  --notion-brown: #64473a !important;
  --notion-gray: #9b9a97 !important;
}